@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito:wght@200&family=Pacifico&family=Playfair+Display:ital,wght@1,500&family=Yanone+Kaffeesatz:wght@300&display=swap'); 
* {
    padding: 0;
    margin: 0;
    font-style: normal;
    box-sizing: border-box;
}
body{
    background-color:#D0C9C0;
    color: #5F7161;
}
#title h1{
    text-align: center;
    font-family: 'Pacifico', cursive;   
}
#about{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
#rowa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    width: 100%;
}

#five{
    width: 45%;
}
#five img{
   height: 550px;
   padding-left: 20px;
   padding-bottom: 40px;
   border-radius: 50px;

}

#seven{
    font-family: 'Nunito', sans-serif;
    width: 45%; 
}
.random{
    text-align: center;
}
#get_cocktail{
    border-radius: 4vw;
    padding: 1vw;
}
/* .like-button{
    font-family: 'Nunito', sans-serif;
    color: red;
    display: inline-block;
} */
/* .card{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
}




.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }
 .search input{
     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;
 }


    .search input:focus{
     box-shadow: none;
     border: 2px solid #C2DED1;
    }
    .search .fa-search{

     position: absolute;
     top: 20px;
     left: 16px;

    }
    .search button{
     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 110px;
     background: #C2DED1;
    }
    #search{
        padding: 3vw;
    }
    .row{
        display: flex;
    } */
