@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito:wght@200&family=Pacifico&family=Playfair+Display:ital,wght@1,500&family=Yanone+Kaffeesatz:wght@300&display=swap'); 
* {
    padding: 0;
    margin: 0;
    font-style: normal;
    box-sizing: border-box;
}
body{
    background-color:#000000;
    color: #FF9F29;
}
#title h1{
    text-align: center;
    font-family: 'Pacifico', cursive;   
}
#about{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#rowa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    width: 100%;
}

#five{
    width: 45%;
}
#five img{
   height: 550px;
   padding-left: 20px;
   padding-bottom: 40px;
   border-radius: 50px;

}

#seven{
    font-family: 'Nunito', sans-serif;
    width: 45%; 
}
.random{
    text-align: center;
    padding-bottom: 3vw;
}
#get_cocktail{
    border-radius: 4vw;
    padding: 1vw;
}
#get_cocktail:hover{
    background-color: #5F7161;
    color: #D0C9C0;
}

